body{
    background-color: #FFE569;
    background: url('images/colab2.jpg');
    background-size: 1590px auto;
}
.form{

    display: grid;
    margin-top:100px ;
    margin-left: 100px;
}

::placeholder{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    text-align: center;
    
    
}
#inp{
border-radius: 30px;
    width: 500px;
    height: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    
}
#sub{
    border-radius: 20px;
    height: 50px;
    width:70px;

}
.foot{
    margin-top: 500px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    color: white;
}


